/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Root Variables */
:root {
    --background-color: rgba(0, 0, 0, 0.89);
}

/* HTML */
html {
    scroll-behavior: smooth;
}

/* Body */
body {
    background-color: var(--background-color);
}

/* Header */
header {
    background-color: var(--background-color);
    color: #fff;
    text-align: center;
}

/* Navbar */
nav ul {
    width: 100%;
    padding: 10px;
    gap: 10px;
    justify-content: flex-end;
}

.navbar-brand {
    padding-left: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 300;
}

.navbar-brand i {
    font-size: larger;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Main */
main {}

/* Sections */
section {
    width: min(90%, 1800px);
    margin: auto;
    padding: 35px;
}

#introduction {
    margin-top: 5%;
    display: flex;
    gap: min(50px, 10%);
}

#introduction img {
    max-width: 320px;
    height: auto;
    border-radius: 25px;
}

#introduction p {
    font-size: larger;
    line-height: 1.5;
    padding: 50px 0;
}

#links {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    font-size: large;
}

#links a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color);
    transition: 0.5s;
}

@media screen and (max-width: 900px) {
    #introduction {
        flex-direction: column;
        align-items: center;
    }

    #introduction p {
        padding: 25px;
    }

    #introduction img {
        max-width: 100%;
    }

}

#about-me {
    background-color: beige;
    border-radius: 25px;
}